<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add New Toy</title>
  </head>
  <body>
    <div class="top">
      <h3>Add a new toy</h3>
    </div>
    <form action="/ratethis" method="POST">
      <label>
        <span>Name of Toy:</span>
        <input type="text" name="name"/>
      </label>

      <label>
        <span>Brand of Toy:</span>
        <input type="text" name="brand"/>
      </label>

      <label>
        <span>Image Link:</span>
        <input type="text" name="img"/>
      </label>
      
      <label>
        <span>Size of Dog:</span>
        <input type="number" name="size"/>
      </label>
      <br>
      <input type="submit" value="Add Toy"/>
    </form>

  </body>
</html>
